* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #222;
}

.section_title {
  font-weight: 800;
  font-size: 36px;
  line-height: 38px;
  color: #222222;
  margin-bottom: 45px;
  position: relative;
}

.section_title.tail::after {
  content: '';
  width: 80px;
  height: 3px;
  display: block;
  background-color: #F0575A;
  left: 0;
  bottom: -25px;
  position: absolute;
}

header .header_top {
  padding: 15px 0;
  border-bottom: 1px solid rgba(129, 129, 129, 0.4);
}

header .header_top .header_top__adress .city {
  font-weight: bold;
  line-height: 19px;
  position: relative;
}

header .header_top .header_top__adress .city::before {
  content: '';
  display: block;
  width: 27px;
  height: 2px;
  background-color: #E93123;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -40px;
}

header .header_top .header_top__adress .adress {
  font-weight: normal;
  font-size: 13px;
  color: #818181;
}

header .header_top .header_top__metro li {
  font-size: 13px;
  line-height: 15px;
  color: #818181;
  padding-left: 20px;
  position: relative;
}

header .header_top .header_top__metro li:first-child {
  margin-bottom: 5px;
}

header .header_top .header_top__metro li::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #9F0FE2;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}

header .header_top .header_top__metro li:last-child::before {
  background-color: #E93123;
}

header .header_top .header_top__contacts .header_top__contacts_left {
  margin-right: 40px;
}

header .header_top .header_top__contacts .header_top__contacts_left .phone a {
  font-weight: bold;
  color: #222;
  line-height: 19px;
  text-decoration: none;
}

header .header_top .header_top__contacts .header_top__contacts_left .text {
  font-size: 13px;
  line-height: 15px;
  color: #818181;
}

header .header_top .header_top__contacts .header_top__contacts_right .call_back {
  padding: 16px 30px;
  border: 1px solid #E93123;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #E93123;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: inline-block;
}

header .header_top .header_top__contacts .header_top__contacts_right .call_back:hover {
  background-color: #E93123;
  color: #F8F8F8;
}

header .header_bottom nav {
  padding: 23px 0;
}

header .header_bottom nav li {
  padding: 0 23px;
  border-right: 1px dashed #C4C4C4;
}

header .header_bottom nav li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #222;
  font-weight: bold;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

header .header_bottom nav li a:hover {
  color: #0037A1;
}

header .header_bottom nav li:last-child {
  border-right: none;
}

.main_block {
  background: url("../images/main_bg.svg") #DFEAFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main_block .container {
  padding: 95px 0 135px 0;
  position: relative;
}

.main_block .container .main_title {
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 40px;
}

.main_block .container .info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.main_block .container .info_block .info_item {
  padding: 16px 20px 16px 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #0037A1;
  border-radius: 4px;
}

.main_block .container .info_block .info_item img {
  margin-right: 15px;
}

.main_block .container .info_block .info_item span span {
  font-weight: normal;
}

.main_block .container .info_block .info_item:first-child {
  margin-right: 20px;
}

.main_block .container .girl {
  position: absolute;
  right: -70px;
  bottom: 0;
}

.advantages {
  background: #0037A1;
}

.advantages .adv_row {
  padding: 18px 45px 25px 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-right: 30px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.advantages .adv_row .next_time_text {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.advantages .adv_row .next_time_text:last-child {
  font-weight: normal;
  font-size: 15px;
  line-height: 14px;
  color: #818181;
}

.advantages .adv_row .time_date {
  background: #DFEAFF;
  opacity: 0.6;
  border-radius: 4px;
  padding: 15px 25px 15px 30px;
}

.advantages .adv_row .time_date .time_text {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.advantages .adv_row .time_date img {
  margin-right: 5px;
}

.advantages .adv_row .consalting {
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
  padding: 21px 57px;
  text-align: center;
  margin-left: 25px;
}

.advantages .adv_row .consalting a {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #FFFFFF;
}

.advantages .adv_row .consalting:hover {
  background-color: #fff;
  border-radius: 4px solid #E93123;
}

.advantages .adv_row .consalting:hover a {
  color: #E93123;
}

.advantages .adv_row .vzon {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #818181;
  padding: 7px 45px 25px 0;
  margin-left: 30px;
}

.advantages .adv_reg .doc_col {
  padding: 48px 64px 60px 64px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  margin-right: 30px;
  margin-bottom: 120px;
  text-align: center;
}

.advantages .adv_reg .doc_col .dogovor_img {
  text-align: center;
}

.advantages .adv_reg .doc_col .dogovor_text {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.guaranteee {
  background: #F8F8F8;
}

.guaranteee .container {
  position: relative;
}

.guaranteee .container .card_guarentee {
  margin: 150px 0 150px 0;
}

.guaranteee .container .card_guarentee .guarantee_card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 50px 50px 65px 55px;
}

.guaranteee .container .card_guarentee .guarantee_card .card_title {
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #222222;
  margin-bottom: 15px;
}

.guaranteee .container .card_guarentee .guarantee_card .card_descripton {
  font-size: 16px;
  line-height: 28px;
  color: #222222;
  margin-bottom: 22px;
}

.guaranteee .container .card_guarentee .guarantee_card .card_button {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.guaranteee .container .card_guarentee .guarantee_card .card_button:hover {
  background: #F8F8F8;
  color: #222;
  cursor: pointer;
}

.guaranteee .container .card_guarentee .guarantee_card .card_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #818181;
}

.guaranteee .container .card_img_list {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: translate(80%, 0%);
          transform: translate(80%, 0%);
}

.call_to_action .call_to_bg {
  background: url("../images/call_to_bg.svg") #0037A1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  margin-top: 100px;
}

.call_to_action .call_to_bg .call_to_text {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding: 105px;
}

.call_to_action .call_to_bg .call_to_buttom {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 22px 35px;
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
  margin-top: 115px;
  margin-right: 130px;
}

.call_to_action .call_to_bg .call_to_buttom:hover {
  background: #F8F8F8;
  color: #222;
  cursor: pointer;
}

.steps {
  margin-top: 110px;
}

.steps .steps_title {
  font-weight: 800;
  font-size: 36px;
  line-height: 38px;
  color: #222222;
  position: relative;
}

.steps .steps_title::before {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #E93123;
  position: absolute;
  top: 90px;
  bottom: 0;
  margin: auto;
}

.steps .steps_description {
  margin-top: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  opacity: 0.7;
  margin-bottom: 30px;
}

.steps .steps_items {
  margin-bottom: 45px;
}

.steps .steps_items .steps_items_image_text {
  margin-bottom: 20px;
}

.steps .steps_items .steps_items_image_text .steps_items_text {
  margin-left: 25px;
}

.steps .steps_items .steps_items_image_text .steps_items_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  color: #222222;
}

.steps .steps_items .steps_items_image_text .steps_items_texts {
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  opacity: 0.7;
}

.steps .steps_items .steps_items_image_text .steps_description_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #222222;
  opacity: 0.7;
}

.steps .steps_submission {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 23px 45px;
  background: #E93123;
  margin-bottom: 140px;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
}

.steps .steps_submission:hover {
  background: #F8F8F8;
  color: #E93123;
  cursor: pointer;
}

.pravilno {
  background-color: #F8F8F8;
}

.pravilno .provilno_all {
  padding: 65px 50px 66px 70px;
}

.pravilno .pravilno_text {
  margin-left: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pravilno .pravilno_text .pravilno_title {
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: #222222;
  margin-bottom: 20px;
}

.pravilno .pravilno_text .pravilno_desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #222222;
  opacity: 0.7;
}

.price {
  padding: 105px 0 100px 0;
}

.price .nav-tabs {
  margin-bottom: 40px;
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price .nav-tabs .nav-link {
  padding: 14px 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #818181;
  border: 1px solid #E0E0E0;
}

.price .nav-tabs .nav-link.active {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #E93123;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  background-color: #E93123;
}

.price .nav-tabs .nav-link:first-child {
  border-radius: 4px 0px 0px 4px;
}

.price .nav-tabs .nav-link:last-child {
  border-radius: 0px 4px 4px 0px;
}

.price .price_block table {
  border: 1px solid  #F2F2F2;
}

.price .price_block table thead {
  background: #F2F2F2;
  opacity: 0.8;
}

.price .price_block table thead th {
  padding: 18px 30px;
  font-size: 16px;
  line-height: 24px;
}

.price .price_block table tbody {
  border-top: none;
}

.price .price_block table tbody tr td, .price .price_block table tbody tr th {
  padding: 18px 30px;
  line-height: 24px;
}

.price .price_block table tbody tr .price_advantegs {
  list-style-image: url("../images/red_check.svg");
  list-style-position: inside;
}

.price .price_block table tbody tr .price_advantegs li {
  margin-bottom: 5px;
}

.price .price_block table tbody tr:nth-child(n+4) td, .price .price_block table tbody tr:nth-child(n+4) th {
  border-bottom: none;
}

.price .price_block table tbody tr:nth-child(1) td:last-child {
  border-bottom: none;
}

.price .price_block table tbody .confirm_price td:nth-of-type(1) {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.price .price_block table tbody .confirm_price td:nth-of-type(1) span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #818181;
}

.price .price_block table tbody .confirm_price td:nth-of-type(2) .btn_price {
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
  color: #F8F8F8;
  padding: 18px 25px;
  text-decoration: none;
}

.price .price_block table tbody .confirm_price td:nth-of-type(2) .btn_price:hover {
  color: #E93123;
  background: #F8F8F8;
}

.price .price_block table tbody .steps_ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #818181;
}

.faq {
  background-color: #F8F8F8;
  padding: 120px 0;
}

.faq .faq_block .request_buttton_faq {
  width: 270px;
  height: 64px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-top: 50px;
  color: #FFFFFF;
  padding: 23px 45px;
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
}

.faq .faq_block .request_buttton_faq:hover {
  color: #E93123;
  cursor: pointer;
  background: #FFFFFF;
}

.faq .accordion-item {
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .accordion-item .accordion-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.faq .accordion-item .accordion-button:not(.collapsed), .faq .accordion-item .accordion-button:focus {
  color: inherit;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .accordion-item .accordion-button::after {
  background-image: url("../images/chevron_down.svg");
  width: 14px;
  height: 7px;
  background-size: contain;
}

.faq .accordion-item .accordion-body {
  background-color: #eee;
}

.gift {
  padding: 170px 0;
  position: relative;
}

.gift .section_title span {
  color: red;
}

.gift .gift_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  opacity: 0.7;
  margin-bottom: 45px;
}

.gift .card_gift {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 15px;
}

.gift .gift_image {
  position: relative;
}

.gift .gift_image::after {
  content: url("../images/gift_rs.svg");
  display: block;
  position: absolute;
  width: 23.5px;
  height: 16.5px;
  top: 5px;
  bottom: 0;
  left: 7px;
}

.gift .gift_text_card {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #0037A1;
}

.gift .cart_btn {
  padding: 23px 45px;
  background: #E93123;
  -webkit-box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
          box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
  border-radius: 4px;
  width: 270px;
  height: 64px;
  margin-top: 45px;
}

.gift .cart_btn a {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.gift .cart_right {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: translate(-28%, 10%);
          transform: translate(-28%, 10%);
  z-index: -1;
}

.passport {
  padding: 65px 0 105px 0;
  position: relative;
}

.passport .passport_left_block {
  margin-left: 100px;
}

.passport .passport_blank {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 8px;
}

.passport .pasport_req {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #0037A1;
}

.passport .passport_block .passport_item_text {
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 12px;
}

.passport .passport_image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-30%, 30%);
          transform: translate(-30%, 30%);
}

.footer {
  background: #2A2F34;
  color: #fff;
  padding: 70px 0 0 0;
}

.footer .footer_logo_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 20px;
}

.footer .footer_call {
  margin-bottom: 37px;
}

.footer .footer_call .call_number {
  margin-left: 12px;
}

.footer .footer_call .call_number a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer .footer_call .call_number_text {
  font-size: 13px;
  line-height: 15px;
  color: #F8F8F8;
  margin-left: 25px;
}

.footer .footer_adress .footer_adress_reg {
  margin-left: 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.footer .footer_adress .footer_adress_home {
  margin-left: 25px;
  font-size: 13px;
  line-height: 15px;
  color: #F8F8F8;
  margin-bottom: 37px;
}

.footer .footer_adress .footer_work_time {
  margin-left: 10px;
  font-size: 13px;
  line-height: 15px;
  color: #F8F8F8;
  margin-bottom: 37px;
}

.footer .footer_yandex {
  margin-bottom: 40px;
}

.footer .footer_yandex .footer_yandex_img {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer .footer_yandex .footer_yandex_text {
  font-size: 13px;
  line-height: 15px;
  color: #F8F8F8;
}

.footer .footer_social .footer_social_network {
  margin-left: 6px;
}

.footer .footer_reserved {
  padding: 30px 0;
  background: #23282D;
}

.footer .footer_reserved .reserved_light,
.footer .footer_reserved .reserved_right {
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */